---
import { getCollection } from "astro:content";

import Layout from "@/components/layout.astro";
import Main from "@/components/main.astro";
import TiktokEmbed from "@/components/tiktok-embed.astro";

const allCreators = await getCollection("creators");
---

<Layout>
  <Main>
    <section>
      <h2>Descubre el mejor contenido educativo de TikTok</h2>
    </section>
    {
      allCreators.map((creator) => {
        return (
          <article>
            <p>{creator.data.name}</p>
            <TiktokEmbed username={creator.data.username} />
          </article>
        );
      })
    }
  </Main>
</Layout>
