---
import { getCollection, type CollectionEntry } from "astro:content";

import Layout from "@/components/layout.astro";
import Main from "@/components/main.astro";

const allCreators: CollectionEntry<"creators">[] =
  await getCollection("creators");
---

<Layout>
  <Main>
    <section>
      <h2>Creadores</h2>
      <div class="flex gap-2">
        {
          allCreators.map((creator) => {
            return (
              <a class="btn btn-sm" href={creator.data.username}>
                {creator.data.username}
              </a>
            );
          })
        }
      </div>
    </section>
  </Main>
</Layout>
