---
import Navbar from "./navbar.astro";

interface Props {
  title?: string;
}

const { title = "Teach Tok" }: Props = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline async src="https://www.tiktok.com/embed.js"></script>
    <!-- Add favicon -->
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
