---

---

<div class="navbar bg-base-100">
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl" href="/">TeachTok</a>
  </div>
  <div class="navbar-end"></div>
</div>
